html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  padding: 40px;
}

/* Header */
.nav {
    float: right;
    width: 340px;
}

.nav-pills li a {
  color: #d8192f;
  border: 1px solid #d8192f;
  margin-left: 10px;
  text-align: center;
  width: 100px;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}

/* Jumbotron */
.jumbotron {
  height: 500px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg);
  background-size: cover;
}

.jumbotron .col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron h2 {
  color: white;
  text-align: right;
  font-size: 60px;
  width: 100%;
}

/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner .btn {
  background-color: rgba(216, 25, 47, .5);
  color: white;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

.section h3 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 30px;
}

.section h4 {
    color: #d8192f;
    margin: 30px 0 20px;
    padding: 0;
    font-size: 20px;
}

.section ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer {
    height: 100px;
    padding: 40px 0px 100px;
    margin-top: 80px;
    background-color: #eee;
    font-size: 14px;
}

.footer p {
    float: left;
    width: 33%;
}

.a-center{
  text-align: center;
}

.a-right {
  text-align: right;
}
/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav {
    float: right;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
  
  .header .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
